
@{
    ViewBag.Title = "HomeWork";
}

<h2>作業</h2>
<h4>為了銜接後面的課程，請試著用本課程所學的內容將下圖的表單畫出來</h4>
<!-- 你想偷copy是沒用的  這是圖片 -->
<img src="~/Content/Images/hw1.PNG" />
<img src="~/Content/Images/hw2.PNG" />

<h3>繳交辦法</h3>
<h4>於本周五下班前將結果存成 Company.html 跟 Product.html 寄給我或Jason</h4>
<h4>PS: 請繳交完整的Html(包含 head / body ) 而非片段或單一form表單</h4>
<h4>PS2: 不用特意畫出樣式  繳交Html架構即可</h4>

