
@{
    ViewBag.Title = "文章段落元素";
}

<h2>文章段落元素</h2>
<br/>
<h4>&lt;p&gt; 文章 paragraph</h4>
<pre class="code">
<code class="html">
        用於撰寫文字用的區塊 跟div很像  但是會有上下的段落間距
        &lt;p&gt;
            文章內容
        &lt;/p&gt;
        <p>
            文章內容</p>
</code>
</pre>
<br />

<h4>標題</h4>
<pre class="code">
<code class="html">
        &lt;h1&gt; 標題h1 &lt;/h1&gt;
        <h1>標籤h1 </h1>

        &lt;h2&gt; 標題h2 &lt;/h2&gt;
        <h2>標籤h2 </h2>

        &lt;h3&gt; 標題h3 &lt;/h3&gt;
        <h3>標籤h3 </h3>

        &lt;h4&gt; 標題h4 &lt;/h4&gt;
        <h4>標籤h4 </h4>

        &lt;h5&gt; 標題h5 &lt;/h5&gt;
        <h5>標籤h5 </h5>

        &lt;h6&gt; 標題h6 &lt;/h6&gt;
        <h6>標籤h6 </h6>
</code>
</pre>
<br />

<h4>文字</h4>
<pre class="code">
<code class="html">
        &lt;label&gt; 標籤 &lt;/label&gt;
        <label>標籤</label>

        &lt;b&gt; 粗體 &lt;/b&gt;
        <b>粗體</b>

        &lt;strong&gt; 粗體 &lt;/strong&gt;
        <strong>粗體</strong>

        &lt;i&gt; 斜體 &lt;/i&gt;
        <i>斜體</i>

        &lt;u&gt; 底線 &lt;/u&gt;
        <u>底線</u>

        &lt;s&gt; 刪除線 &lt;/s&gt;
        <s>刪除線</s>
</code>
</pre>
<br />


<h4>列表</h4>
<pre class="code">
<code class="html">
        無序列表 (Unordered List)
        &lt;ul&gt;
        &#9;&lt;li&gt;內容&lt;/li&gt;
        &#9;&lt;li&gt;內容&lt;/li&gt;
        &#9;&lt;li&gt;內容&lt;/li&gt;
        &lt;/ul&gt;
        <ul>
            <li>內容</li><li>內容</li><li>內容</li>
        </ul>

        有序列表 (Ordered List)
        &lt;ol&gt;
        &#9;&lt;li&gt;內容&lt;/li&gt;
        &#9;&lt;li&gt;內容&lt;/li&gt;
        &#9;&lt;li&gt;內容&lt;/li&gt;
        &lt;/ol&gt;
        <ol>
            <li>內容</li><li>內容</li><li>內容</li>
        </ol>
</code>
</pre>
<br />


<h4>表格</h4>
<pre class="code">
<code class="html">
        &lt;table&gt;
        &#9;&lt;tr&gt;
        &#9;&#9;&lt;th&gt;標頭1&lt;/th&gt;
        &#9;&#9;&lt;th&gt;標頭2&lt;/th&gt;
        &#9;&lt;/tr&gt;
        &#9;&lt;tr&gt;
        &#9;&#9;&lt;td&gt;內容1&lt;/td&gt;
        &#9;&#9;&lt;td&gt;內容2&lt;/td&gt;
        &#9;&lt;/tr&gt;
        &lt;/table&gt;
        <table rules="all" style="border:solid 1px black;">
            <tr><th>標頭1</th><th>標頭2</th></tr>
            <tr><td>內容1</td><td>內容2</td></tr>
        </table>

</code>
</pre>
<br />