
@{
    ViewBag.Title = "Html 架構";
}

<h2>Html 架構</h2>


<h4>這是一個Html的架構</h4>
<pre class="code">
<code class="html">
        &lt;html&gt;
        &#9;&lt;head&gt;
        &#9;&#9;&lt;title&gt;標題&lt;/title&gt;
        &#9;&#9;...
        &#9;&lt;/head&gt;
        &#9;&lt;body&gt;
        &#9;&#9;...
        &#9;&lt;/body&gt;
        &lt;/html&gt;
</code>
</pre>
<br />
